@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

html { 
	width: 100%; 
	-webkit-font-smoothing: antialiased; 
}

body { 
	width: 100%; 
	padding: 0; 
	margin: 0; 
	background: #70a6be;
	text-align: center; 
}


.bg{
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: -2;
}

.main { 
	max-width: 480px; 
	padding: 20px; 
	display: block; 
	z-index: 10;
	margin: 8% auto 0; 

}

.main p{
		font-size: 1.8em; 
	line-height: 1.35em; 
	color: #fff;
	padding: 0; 
	margin: 30px 0 20px; 
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}

.bg-overlay {
  background: url(../images/overlay.png);
  position: fixed;
  width: 100%;
  height: 100%;
  	top: 0px;
	left:0px;
	z-index: -1;
  }

.logo{
	width: 180px; 
	height: 180px; 
	display: block; 
	text-indent: -9999px; 
	background: url(../images/ln.jpg)center center no-repeat;
	background-size: cover;
	padding: 0; 
	margin: 0 auto; 
	border: 3px white solid;
	text-align: center; 
	-webkit-border-radius: 50em;
	border-radius: 50em;
}

.fa{
	padding: 10px;
	opacity: 0.6;
	margin-top: 15px;
	color: white;
}

.fa:hover{
	opacity: 1;
}



.proj li{
	list-style: none;
	font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;

}

li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	opacity: 0.6;
	display: inline-block;
}

li a:hover{
	opacity: 1;
}

ul{
	padding: 0px;
}